<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <style>
        label {
            font-weight: bold;
            display: block;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>